<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <title>Change role page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>

<header th:insert="blocks/header1 :: header1"></header>

<div class="container mt-5">
    <h1 align="center">Change role</h1>
    <div th:each="us : ${user_change_role}">
        <form method="post">
            <input sec:authorize="hasAnyAuthority('user:change_role')" type="text" th:value="${us.role}" name="role" placeholder="Role" class="form-control"><br/>
            <button sec:authorize="hasAnyAuthority('user:change_role')" type="submit" class="btn btn-success">Change Role</button>
        </form>
    </div>
</div>
</body>
</html>