<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <title>Contacts</title>
    <meta  http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style type="text/css">
        .contacts {
            background-color: #feeff4;
            border-left: 6px solid #ACF8E2;
            color: #49152c;
            padding: 20px 35px;
            font-family: 'Lato', sans-serif;
            font-size: 16px;
        }
    </style>
</head>
<body>

<header th:insert="blocks/header1 :: header1"></header>

<div class="container mt-5">
    <div class="contacts" >
        <h3><b>Контакти</b></h3><br>
        &#127760;<a> м.Тисмениця,Вул Левицького **</a><br>
        &#128222;<a> +38 (032) 232-77-83</a>
                 <a> +38 (096) 682-73-52</a><br>
        &#9993;<a> info@alternatyva.clinic</a><br>
        &#8986;<a> З понеділка по п`ятницю з 9.00 до 18.00</a>
        <a> В суботу з 9.00 до 13.00</a>
        <a> Без перерви на обід</a><br>

    </div><br>

    <div align="center">
        <iframe align="center" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d551.3494045522882!2d24.846686864371076!3d48.
        902539459052356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4730c32899e20ea1%3A0x443fc028730e6c1d!2z0J
        PQsNC70LjRhtGM0LrQsCAsIDIxLCDQk9Cw0LvQuNGG0YzQutCwLCDQstGD0LvQuNGG0Y8g0JPQsNC70LjRhtGM0LrQsCwgMjEsINCi0LjRgdC8
        0LXQvdC40YbRjywg0IbQstCw0L3Qvi3QpNGA0LDQvdC60ZbQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCA3NzQwMA!5e0!3m2!1suk!2sua!4
        v1621095737246!5m2!1suk!2sua" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
    </div>

</div>



</body>
</html>