<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>

<header th:insert="blocks/header1 :: header1"></header>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <form th:action="@{/authenticateTheUser}" method="post">

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                    </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Введіть пароль">
                </div>
                <button type="submit" class="btn btn-success">Увійти</button>
                <a class="px-3" th:href="@{/register}">Зарегіструватися</a>
            </form>
        </div>
    </div>
</div>


</body>
</html>