<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>People</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style type="text/css">
        .record {
            background-color: #feeff4;
            border-left: 6px solid #e04386;
            color: #49152c;
            padding: 20px 35px;
            font-family: 'Lato', sans-serif;
            font-size: 16px;
        }
    </style>


</head>
<body>
<header th:insert="blocks/header"/>
<div class="container mt-5">
    <h2 align="center">Записи</h2>
    <div class="record" th:each="us : ${users}">
        <p><b>Прізвище :</b> <a th:text="${us.first_name}"  /><br/>
        <b>Ім'я :</b><a th:text="${us.name}"  /><br/>
            <b>Проблема :</b><a th:text="${us.problem}"  /><br/></p>

    </div>
</div>

</body>
</html>