<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>People</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header"/>
<div class="container mt-5">
    <div th:each="us : ${users}">
        Ім'я: <a th:text="${us.name}"  />
        Дата:<a th:text="${us.date}"  />
        Час:<a th:text="${us.time}"  />
    </div>
</div>

</body>
</html>