<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <title>Сторінка реєстрації</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="d-flex h-100 text-center text-white bg-dark">
    <h3  align="center">Pet Project</h3><br/>
    <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" href="/">Головна</a>
        <a class="nav-link" href="/record-add"> Реєстрація на прийом </a>
        <a class="nav-link" href="/records"> Записи </a>
        <a class="nav-link" href="/about"> Про нас </a>

        <form sec:authorize="isAuthenticated()" class="from-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
            <button class="btn btn-outline-success my-2 my-sm-0">Вийти</button>
        </form>

    </nav>
</div>

<div class="container mt-5">
    <h1 align="center">Регістрація на прийом до лікаря</h1>
    <form action="/record-add" method="post">
        <input type="text" name="first_name" placeholder="Прізвище" class="form-control"><br/>
        <input type="text" name="name" placeholder="Ім'я" class="form-control"><br/>
        <input type="text" name="last_name" placeholder="По батькові" class="form-control"><br/>
        <textarea name="problem" placeholder="Що вас турбує?" class="form-control"></textarea><br/>

        <button type="submit" class="btn btn-success">Зареєстуватись</button>
    </form>
</div>
</body>
</html>

