<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header"/>
<div class="container mt-5">
    <h1 align="center">Registration</h1>
    <form action="/sign-up" method="post">
        <input type="text" name="first_name" placeholder="First name" class="form-control">
        <input type="text" name="name" placeholder="Name" class="form-control">
        <input type="text" name="last_name" placeholder="Last name" class="form-control">
        <input type="text" name="nick_name" placeholder="Nickname" class="form-control">
        <input type="text" name="age" placeholder="Age" class="form-control">
        <button type="submit" class="btn btn-success">Register</button>
    </form>
</div>
</body>
</html>

