<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <title>Edit Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h1 align="center">Edit Page</h1>
    <div th:each="us : ${user_edit}">
    <form method="post">
        <input type="text" th:value="${us.username}" name="username" placeholder="Username" class="form-control"><br/>
        <input type="text" th:value="${us.status}" name="status" placeholder="Status" class="form-control"><br/>

        <button type="submit" class="btn btn-success">Save</button>
    </form>
    </div>
</div>
</body>
</html>