<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header"/>
<div class="container mt-5">
    <div th:each="us : ${users}">
        First Name:<h2 align="left" th:text="${us.first_name}"/>
        Name:<h3 align="left" th:text="${us.name}"/>
        Last Name:<h4 align="left" th:text="${us.last_name}"/>
        Age:<h5 align="left" th:text="${us.age}"/>
        Gender:<h6 align="left" th:text="${us.gender}"/>
        Posts:<h7 align="left" th:text="${us.posts}"/>
        Followers:<h8 align="left" th:text="${us.followers}"/>
    </div>
</div>

</body>
</html>