
<div th:fragment="header">
    <div class="d-flex h-100 text-center text-white bg-dark">
        <h3  align="center">Pet Project</h3><br/>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link" href="/">Головна</a>
            <a class="nav-link" href="/registration"> Реєстрація на прийом </a>
            <a class="nav-link" href="/records"> Записи </a>
            <a class="nav-link" href="/about"> Про нас </a>
        </nav>
    </div>
</div>